%h1= @store.name

= link_to 'Edit', edit_store_path(@store)
|
= link_to 'All Stores', stores_path
%p= @store.description
%h3= 'Available Pets'
- @store.pets.each do |pet|
  %ul
    %li= link_to pet.name, pet_path(pet)
%h3= 'Available Supplies'
- @store.supplies.each do |supply|
  %ul
    %li= link_to supply.name, supplies_path(supply)
