%h1 Pets

= link_to 'Create a New Pet', new_pet_path

%h6 Filter by:
= render 'filter'

%table
  %thead
    %tr
      %th Name
      %th Species
      %th Breed
      %th

  %tbody
    - @pets.each do |pet|
      %tr
        %td= link_to pet.name, pet
        %td= pet.species
        %td= pet.breed
        %td
          = link_to 'Edit', edit_pet_path(pet)
          = link_to 'Delete', pet, :method => :delete, :data => { :confirm => 'Are you sure?' }
