%h1= @pet.name
- if @pet.breed === 'American Shorthair' || @pet.breed === 'Short Hair'
  %img= image_tag "cat1.jpg"
- elsif @pet.breed === 'Scottish Fold'
  %img= image_tag "cat5.jpg"
- elsif @pet.breed === 'Long Hair'
  %img= image_tag "cat8.jpg"
- elsif @pet.breed === 'German Shepard'
  %img= image_tag "dog5.jpg"
- elsif @pet.breed === 'Pug' || @pet.breed === 'Bulldog'
  %img= image_tag "dog3.jpg"
- elsif @pet.breed === 'Chihuahua' || @pet.breed === 'Pincher'
  %img= image_tag "dog6.jpg"
- elsif @pet.breed === 'Corgi'
  %img= image_tag "dog4.jpg"
- elsif @pet.breed === 'Mut'
  %img= image_tag "dog1.jpg"

%h3 Species: #{@pet.species}
%h3 Breed: #{@pet.breed}
%h3 Store: #{@pet.store.name}


= link_to 'Edit', edit_pet_path(@pet)
\|
= link_to 'Back', pets_path
