%header
  %div.brand-logo
    %img= link_to image_tag('logo-purple.png'), 'http://localhost:3000'
    %ul.nav.navbar
      %li
        = link_to 'Stores', stores_path
      %li
        = link_to 'Pets', pets_path
      %li
        = link_to 'Supplies', supplies_path
      %li
        .session
          - if current_user
            = link_to "Sign Out", destroy_user_session_path, method: :delete
